*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family:monospace;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.post {
    background-color: #fff;
    border: 1px solid #f58888;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;

    width: 80%;
    max-width: 1000px;
}

.post-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.post-header h2 {
    margin: 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-tags {
    color: #666;
}

.tag {
    background-color: #f58888;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 3px;
}

.post-actions {
    color: #666;
    display: flex;
}

.action-icon {
    margin-right: 10px;
}




