*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family:monospace;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    background-color: #fff;
    border: 1px solid #f58888;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;

    width: 80%;
    max-width: 1000px;
}

.post-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.post-header h2 {
    margin: 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-tags {
    color: #666;
}

.tag {
    background-color: #f58888;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 3px;
}

.post-actions {
    color: #666;
    display: flex;
}

.action-icon {
    margin-right: 10px;
}

.comments {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.comment-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content {
    margin-bottom: 10px;
}

.replies {
    margin-left: 20px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.comment-form {
    margin: 20px 0 20px;
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.comment-form button {
    padding: 8px;
    background-color: #f58888;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #d46a6a;
}




