<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/feed.css">
    <title>Лента</title>
</head>
<body>

<div th:each="post : ${posts}" class="post">
    <div class="post-header">
        <h2 th:text="${post.title}"></h2>
        <p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
        <p th:text="${post.userDto.username}"></p>
    </div>

    <div class="post-content">
        <p th:text="${post.content}"></p>
    </div>

    <div class="post-tags">
        <p>Тэги: <span th:each="tag : ${post.tagNames}" class="tag" th:text="${tag}"></span></p>
    </div>

    <div class="post-actions">
        <form th:action="@{/forum/post/like}" method="get">
            <input type="hidden" name="postId" th:value="${post.getId()}"/>
            <input type="hidden" name="isLike" value="true"/>
            <button type="submit" class="action-icon">👍<span th:text="${post.likeCount}"></span></button>
        </form>
        <form th:action="@{/forum/post/like}" method="get">
            <input type="hidden" name="postId" th:value="${post.getId()}"/>
            <input type="hidden" name="isLike" value="false"/>
            <button type="submit" class="action-icon">👎<span th:text="${post.dislikeCount}"></span></button>
        </form>
        <form th:action="@{/forum/post/{postId}(postId=${post.getId()})}" method="get">
            <button type="submit" class="action-icon">💬<span th:text="${post.commentCount}"></span></button>
        </form>
    </div>


</div>

</body>
</html>
